.body {
  min-width: 1vw;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  background: #fbfbfb;
}

.landing {
  background: radial-gradient(75.49% 265.37% at 24.51% 40.67%, #F6FBFD 0%, #E9F4FB 100%);
}

nav {
  position: relative;
  display: flex;
  padding: 5vh;
  justify-content: space-around;
  align-items: center;
}

nav img {
  position: relative;
  width: 250.75px;
  height: 56px;
}

ul {
  position: relative;
  display: flex;
  gap: 30px;
}

header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2vw;
  margin-bottom: 1vw;
}

.left {
  position: relative;
  width: 70vh;
}

h1 {
  font-size: 6vh;
  font-weight: 700;
  line-height: 8vh;
  letter-spacing: 0.02em;
  color: #000000;
}

.empower {
  color: #c31575;
}

.tutor {
  color: #2196d4;
}

.left p {
  font-size: 2vh;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.right {
  position: relative;
  width: 70vh;
}

.right img {
  position: relative;
  width: 100%;
  border-radius: 32px;
}

.choose {
  margin-top: 20vh;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20vh;
  background: radial-gradient(75.49% 265.37% at 24.51% 40.67%, #F6FBFD 0%, #E9F4FB 100%);
}

.choose .grid {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.choose .grid .card {
  height: 26vh;
  width: 80vh;
  margin: 2vh;
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  text-align: left;
  transition: ease-in-out 0.3s;
}

.choose .grid .card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choose .grid .card span {
  margin-left: 2vh;
  line-height: 3vh;
}

.choose .grid .card img {
  width: 26vh;
  height: 26vh;
  border-radius: 10px 0 0 10px;
}

.trial {
  padding: 2vh;
  margin-top: 20vh;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(217, 115, 171, 0.1) 100%);
}

.boost {
  display: grid;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15vw;
}

.boost .grid {
  padding: 0 18vh 6vh 18vh;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

footer {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background: #145C82;
  padding: 5vh 0;
}

footer h3 {
  margin-left: 6vh;
}

footer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .left img {
  width: 250px;
  height: 56px;
}

footer .mid-left {
  align-items: center;
}

footer .mid-left ul {
  list-style:none;
  display: flex;
  flex-direction: column;
}

footer .mid-right {
  align-items: center;
}

footer .mid-right ul {
  list-style:none;
  display: flex;
  flex-direction: column;
}

footer .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

footer .right ul {
  list-style: none;
}

footer .right span {
  margin-right: 10vh;
}
