.body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  background: #fbfbfb;
}

/* Path: src/Components/Landing.js */
.landing {
  background: radial-gradient(75.49% 265.37% at 24.51% 40.67%, #F6FBFD 0%, #E9F4FB 100%);
  padding: 3vw 0 6vw 0;
  margin-bottom: 16vw;
}

.pink {
  color: #c31575;
}

.blue {
  color: #2196d4;
}

/* Path: src/Components/Tabs.js */
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.tab {
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #00000026;
  transition: ease-in-out 0.3s;
}

.tab:hover {
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.25);
}

.b1 {
  background: #2196D433;
  border-radius: 6px;
}

.b2 {
  background: #C3157533;
  border-radius: 6px;
}

/* Path: src/Components/Learning.js */
.learning {
  background: #FFFFFF;
  margin: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vh 0 10vh;
}

.learnBtn {
  margin-top: 5vh;
  padding: 0;
  background: #FFFFFF80;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  box-shadow: 0px 4px 10px 0px #00000026;
  transition: ease-in-out 0.3s;
}

.learnBtn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

/* Path: src/Components/Choose.js */
.choose {
  margin-top: 20vh;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20vh;
  background: radial-gradient(75.49% 265.37% at 24.51% 40.67%, #F6FBFD 0%, #E9F4FB 100%);
}

.choose .grid {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.choose .card {
  height: 26vh;
  margin: 2vh;
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  text-align: left;
  transition: ease-in-out 0.3s;
}

.choose .card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choose .card span {
  margin-left: 2vh;
  line-height: 3vh;
}

/* Path: src/Components/Trial.js */
.trial {
  padding: 2vh;
  margin-top: 20vh;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.1) 0%, rgba(217, 115, 171, 0.1) 100%);
}

/* Path: src/Components/Boost.js */
.boost {
  display: grid;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}

.boost .overlay {
  padding: 0 6vh 6vh 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
